<html>
<head>
  <title>Linh's Blog</title>
</head>
<body>
  <div>
    <h1><a href="/">Linh's Blog</a></h1>
  </div>

  <div>
    <p>Published: 26.02.2018, 17:58</p>
    <h2><a href="">My First Post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aliquid tenetur consequatur blanditiis labore harum deserunt unde deleniti ipsam facilis, voluptatibus tempora ullam temporibus vel accusantium excepturi voluptatum porro inventore!</p>
  </div>

  <div>
    <p>Published: 26.02.2018, 17:58</p>
    <h2><a href="">My Second Post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aliquid tenetur consequatur blanditiis labore harum deserunt unde deleniti ipsam facilis, voluptatibus tempora ullam temporibus vel accusantium excepturi voluptatum porro inventore!</p>
  </div>
</body>
</html>
